# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
infrastructure/terraform/.terraform.lock.hcl

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Node
frontend/node_modules/

# Environment
.env
*.env
